# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/

#DB
*.db

# Virtualenv
venv/
.env/
env/

# VSCode
.vscode/

# Docker
*.log
*.pid

# Sistema Operativo
.DS_Store
Thumbs.db

# Alembic
alembic/versions/
alembic/
alembic.ini

# Archivos de configuración privados
.env